<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <table>
        <tr th:each="user : ${users}" th:object="${user}">
            <td th:text="*{name}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{phoneNumber}"></td>
        </tr>
    </table>
</body>
</html>